/vendor
/bin
/.gopath
/test/tests.*
/golint.txt
/govet.txt
/dist

/webapp/build
/webapp/node_modules
/webapp/.yarninstall

# Workspaces
/webapp/workspaces/*/.yarninstall
/webapp/workspaces/*/node_modules
/webapp/workspaces/*/build

# example
webapp/workspaces/shared-components/example/build
webapp/workspaces/shared-components/example/node_modules

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
