@media screen and (min-width: 768px) {
	.k-header {
		padding: 0 15px;
		height: 44px;
		line-height: 44px;
		font-size: 17px;
		border-bottom: 1px solid rgba(61, 60, 64, 0.2);
	}
	.k-header .call-timer {
		float: left;
		margin-right: 5px;
	}
	.k-header .k-header-title {
		max-width: 250px;
	}
	.k-header .k-header-buttons {
		margin-right: -5px;
	}
}
