button.kwm-btn {
	background: grey;
	border: none;
	border-radius: 50%;
	font-size: 0px;
	line-height: 0;
	height: 44px;
	width: 44px;
	margin: 0 8px 8px 0;
	color: white;
	padding: 0;
	outline: none;
	overflow: hidden;
	vertical-align: middle;
}
button.kwm-btn svg {
	width: 20px;
	fill: white;
}
button.kwm-btn:hover svg {
	width: 25px;
}
button.kwm-btn.kwm-header {
	border-radius: 0;
	font-size: 0;
	line-height: 0;
	width: auto;
	height: auto;
	padding: 5px;
	margin: 0;
	background: none;
	color: inherit;
	opacity: .5;
	transition: all .2s ease-in;
}
button.kwm-btn.kwm-header:hover {
	opacity: .8;
}
button.kwm-btn.kwm-header svg {
	width: 15px;
	fill: currentColor;
	stroke: currentColor;
}

button.kwm-btn.kwm-accept {
	background: #75b200;
}
button.kwm-btn.kwm-reject {
	background: #e31611;
}
button.kwm-btn.kwm-reject svg {
	width: 30px;
}
button.kwm-btn.kwm-reject:hover svg {
	width: 37.5px;
}

button.kwm-btn.kwm-start-call {
	font-size: inherit;
	background: transparent;
	border-color: grey;
	color: rgba(61, 60, 64, 0.12);
	padding-top: 2px;

	/* ugly, but for some reason the 'channelHeaderDropdownButton' is otherwise covering our button */
	position: relative;
	z-index: 50;
}
button.kwm-btn.kwm-start-call:hover {
	color: rgb(35, 137, 215);
}
button.kwm-btn.kwm-start-call svg {
	height: 14px;
	width: 20px;
}
button.kwm-btn.kwm-start-call:hover svg {
	top: 0;
	left: 0;
}
button.kwm-btn.kwm-start-call[disabled]:not(.active),
button.kwm-btn.kwm-start-call[disabled]:not(.active):hover {
	opacity: 0.5;
	cursor: default;
	border-color: rgba(61, 60, 64, 0.12);
}
button.kwm-btn.kwm-start-call[disabled]:not(.active) svg,
button.kwm-btn.kwm-start-call[disabled]:not(.active):hover svg {
	fill: rgba(61, 60, 64, 0.12);
}
