button.kwm-btn {
	background: grey;
/*	border: 3px solid rgba(255,255,255,0.4); */
	border: none;
	border-radius: 50%;
	font-size: 30px;
	height: 44px;
	width: 44px;
	margin: 0 8px 8px 0;
	color: white;
	padding: 0;
	outline: none;
	position: relative;
	top: 0px;
	overflow: hidden;
}
button.kwm-btn svg {
	width: 44px;
	fill: white;
}
button.kwm-btn:hover svg {
	width: 50px;
	position: relative;
	left: -3px;
	top: -3px;
}
button.kwm-btn.kwm-accept {
	background: #75b200;
}
button.kwm-btn.kwm-reject {
	background: #e31611;
}
button.kwm-btn.kwm-reject i {
	transform: rotate(135deg);
}

button.kwm-btn.kwm-start-call {
	font-size: inherit;
	background: transparent;
	border-color: grey;
	color: rgba(61, 60, 64, 0.12);
	padding-top: 2px;

	/* ugly, but for some reason the 'channelHeaderDropdownButton' is otherwise covering our button */
	position: relative;
	z-index: 1000;
}
button.kwm-btn.kwm-start-call:hover {
	color: rgb(35, 137, 215);
}
button.kwm-btn.kwm-start-call svg {
	height: 14px;
	width: 20px;
}
button.kwm-btn.kwm-start-call:hover svg {
	top: 0;
	left: 0;
}
button.kwm-btn.kwm-start-call[disabled]:not(.active),
button.kwm-btn.kwm-start-call[disabled]:not(.active):hover {
	opacity: 0.5;
	cursor: default;
	border-color: rgba(61, 60, 64, 0.12);
}
button.kwm-btn.kwm-start-call[disabled]:not(.active) svg,
button.kwm-btn.kwm-start-call[disabled]:not(.active):hover svg {
	fill: rgba(61, 60, 64, 0.12);
}
